#!/usr/bin/env python
#  -*- coding: utf-8 -*-
#
# Python script to create mailbox login users with SSHA512 encryption
# 
# Author: Heiko Krämer
#
# Dependencies: 
#	- packages: python-passlib
#	- version: Python version 3.3+



import MySQLdb as client
import crypt
from optparse import OptionParser

def encrypt_password(password):
    return crypt.crypt(password, crypt.mksalt(crypt.METHOD_SHA512))


def get_connection():
    return client.connect(host= "{{ postfix_vuser_db_host }}",
                  user="{{ postfix_vuser_db_username }}",
                  passwd="{{ postfix_vuser_db_password }}",
                  db="{{ postfix_vuser_db_name }}")

def insert_alias(destination, alias):
    conn= get_connection()
    cc = conn.cursor()
    alias_domain = alias.split("@")[1]
    alias_user = alias.split("@")[0]
    try:
        cc.execute("SELECT id FROM virtual_domains where name='{0}'".format(alias_domain))
        domain_id = cc.fetchone()[0]
        
        print("Insert mail forward from {0} to {1}".format(alias, destination))
        cc.execute("INSERT INTO virtual_aliases VALUES (NULL,'{0}','{1}','{2}')".format(domain_id, alias_user, destination))
        conn.commit()
    except client.Error as e:
        print("Unexpected error: ({0})", (e))
        conn.rollback()

    conn.close()

def main():
    parser = OptionParser()
    parser.add_option("-d", "--destination", dest="destination",
                  help="This should contain the destination mailbox")
    parser.add_option("-a", "--alias", dest="alias",
                  help="The alias mailbox which should farworded; Format: user@domain")

    (options, args) = parser.parse_args()

    insert_alias(options.destination, options.alias)



if __name__ == "__main__":
    main()
